<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            {% load static %}
            <link rel="stylesheet" href="{% static 'semi_restful_users/style.css' %}">
        </head>
        <body>
            <div class="container">
                <h2>Edit user {{ user_to_edit.id }}</h2>
                <div class="formArea">
                    {% if messages %}
                        {% for message in messages %}
                            <ul style="color: red">{{message}}</ul>
                        {% endfor %}
                    {% endif %}
                    <form action='/users/update/{{ user_to_edit.id }}' method='post'>
                        {% csrf_token %}
                        First name: <input type='text' value="{{ user_to_edit.first_name }}" name='first_name'><br>
                        Last name: <input type='text' value="{{ user_to_edit.last_name }}" name='last_name'><br>
                        Email: <input type='text' value="{{ user_to_edit.email }}" name='email'><br>
                        <input type='submit' class="button" value='Update'>
                    </form> 
                    <div class="link">
                            <a href="/users/{{ user_to_edit.id }}" class="link">Show</a><p>|</p>
                            <a href="/" class="link">Go Back</a>
                        </div> 
                </div>
                
                
        </body>
    </html>